<div>
  <form (ngSumbit)="onSubmit()" #pollInit="ngForm">
    {{ diagnostic }}
    <mat-card *ngFor="let qa of questionsList;">
      <mat-form-field appearance="fill">
        <mat-label>Pytanie</mat-label>
        <input matInput [(ngModel)]="qa.question" name="qa-{{i}}-question">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Rodzaj</mat-label>
        <mat-select [(ngModel)]="qa.type" name="qa-{{i}}-type">
          <mat-option value="0">Otwarte</mat-option>
          <mat-option value="1">Wielokrotnego wyboru</mat-option>
          <mat-option value="2">Zamknięte</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
    <button mat-button color="primary" (click)="addQuestion()">Dodaj pytanie</button>
  </form>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
