<div>
  <ng-template [ngIf]="this.pollid">
    <form (ngSubmit)="onSubmit()" #vote="ngForm">
      <h1>
        Zagłosuj w ankiecie
      </h1>
      <mat-card *ngFor="let qa of questionsList;let i = index">
        <h2>
          {{qa.question}}
        </h2>
        <div class="centered-block">
          <ng-template [ngIf]="qa.type==0">
            <br>
            <mat-form-field appearance="fill" style="width: 300px;">
              <textarea matInput [(ngModel)]="qa.answersList[0]" cols="60" name="qa-{{i}}-answer"></textarea>
            </mat-form-field>
          </ng-template>
        </div>

        <div class="centered-block">
          <ng-template [ngIf]="qa.type==1">
            <ul>
              <li *ngFor="let option of qa.optionsList;let j = index;trackBy: trackOption">
                <mat-checkbox (ngModel)="qa.answersList[j]=='true'?true:false"
                              (ngModelChange)="qa.answersList[j]=$event?'true':'false'"
                              name="qa-{{i}}-option-ch-{{j}}">
                  {{option}}
                </mat-checkbox>
              </li>
            </ul>
          </ng-template>
        </div>

        <div class="centered-block">
          <ng-template [ngIf]="qa.type==2">
            <mat-radio-group [(ngModel)]="qa.answersList[0]" aria-label="Select an option" name="qa-{{i}}-options">
            <ul>
              <li *ngFor="let option of qa.optionsList;let j = index;trackBy: trackOption">
                <mat-radio-button value="{{j}}" name="qa-{{i}}-option-cl-{{j}}">
                  {{option}}
                </mat-radio-button>
              </li>
            </ul>
            </mat-radio-group>
          </ng-template>
        </div>
      </mat-card>

      <div class="centered-block">
        <mat-form-field appearance="fill">
          <mat-label>Token</mat-label>
          <input matInput [(ngModel)]="token" name="tokeninput">
        </mat-form-field>
      </div>
      <div class="centered-block">
        <button mat-button color="primary">Wyślij ankietę</button>
      </div>
    </form>
  </ng-template>

  <ng-template [ngIf]="!this.pollid">
    <form (ngSubmit)="getPollid()" #vote="ngForm">
      <h1>
        Na którą ankietę chcesz oddać głos?
      </h1>
      <div class="centered-block">
        <mat-form-field appearance="fill">
          <mat-label>Numer ankiety</mat-label>
          <input matInput [(ngModel)]="inpid" name="pollidinput">
        </mat-form-field>
      </div>
      <div class="centered-block">
        <button mat-button color="primary">Przejdź do ankiety</button>
      </div>
    </form>
  </ng-template>
</div>
