<div>
  <form (ngSubmit)="onSubmit()" #vote="ngForm">
    {{ diagnostic }}
    <mat-card *ngFor="let qa of questionsList;let i = index">
      {{qa.question}}
      <ng-template [ngIf]="qa.type==0">
        <br>
        <mat-form-field appearance="fill">
          <textarea matInput [(ngModel)]="qa.answersList[0]" name="qa-{{i}}-answer"></textarea>
        </mat-form-field>
      </ng-template>
      <ng-template [ngIf]="qa.type==1">
        <ul>
          <li *ngFor="let option of qa.optionsList;let j = index;trackBy: trackOption">
            <mat-checkbox (ngModel)="qa.answersList[j]=='true'?true:false"
                          (ngModelChange)="qa.answersList[j]=$event?'true':'false'"
                          name="qa-{{i}}-option-ch-{{j}}">
              {{option}}
            </mat-checkbox>
          </li>
        </ul>
      </ng-template>
      <ng-template [ngIf]="qa.type==2">
        <mat-radio-group [(ngModel)]="qa.answersList[0]" aria-label="Select an option" name="qa-{{i}}-options">
        <ul>
          <li *ngFor="let option of qa.optionsList;let j = index;trackBy: trackOption">
            <mat-radio-button value="{{j}}" name="qa-{{i}}-option-cl-{{j}}">
              {{option}}
            </mat-radio-button>
          </li>
        </ul>
        </mat-radio-group>
      </ng-template>
    </mat-card>
    <button mat-button color="primary">Wyślij ankietę</button>
  </form>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
